body {
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: brown;
}

h2 {
    color: grey;
}

ol {
    color: goldenrod;
}

#paragrafo {
    color: #00ff00
}

#paragrafo1 {
    color: #ff00ff;
}

#paragrafo2 {
    color: #0000ff;
}

#paragrafo3 {
    color: #00ffff;
}